:root{
    --blue: rgb(30, 77, 150);
    --blue-light: rgb(150, 190, 255);
    --blue-dark: rgb(15, 55, 120);
    --white: whitesmoke;
}

body{
    background-color: var(--white);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    border: 1px solid black;
    padding: 10px;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 10px;
  }

#header {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

a{
    color: var(--blue-dark);
}

a:visited{
    color: var(--blue);
}
